[submodule "submodules/LLMsVerifier"]
	path = submodules/LLMsVerifier
	url = git@github.com:vasic-digital/LLMsVerifier.git
	branch = main
[submodule "submodules/containers"]
	path = submodules/containers
	url = git@github.com:vasic-digital/containers.git
[submodule "submodules/challenges"]
	path = submodules/challenges
	url = git@github.com:vasic-digital/challenges.git
[submodule "submodules/claude-code-router"]
	path = submodules/claude-code-router
	url = git@github.com:vasic-digital/claude-code-router.git
	branch = main
[submodule "submodules/go"]
	path = submodules/go
	url = https://go.googlesource.com/go
